/* HERO */

.hero {
  background: url(../assets/become-mentor-hero-bg.svg);
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.heroContent {
  display: flex;
  padding: 100px 148px;
  align-items: center;
  align-self: stretch;
}

.heroImg {
  width: 520px;
}

.heroInfo {
  display: flex;
  width: 551px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--height-size-md, 40px);
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.textContainer h1 span {
  color: var(--text-text-brand, #4b4bfa);
  text-decoration: underline;
}

/* HERO END */

/* MENTOR CHECKLIST */

/* MENTOR CHECKLIST END */

.mentorChecklist {
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  align-self: stretch;
}

.checklistContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  flex-wrap: wrap;
}

.checklistItem {
  display: flex;
  width: 570px;
  max-width: 600px;
  align-items: center;
  gap: 16px;
}
