/* HERO */

.hero {
  background: url(../assets/become-mentor-hero-bg.svg);
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.heroContent {
  display: flex;
  padding: 100px 0;
  align-items: center;
}

.heroImg {
  max-width: 50%;
}

.heroInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--height-size-md, 40px);
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.textContainer h1 span {
  color: var(--text-text-brand, #4b4bfa);
  text-decoration: underline;
}

/* HERO END */

/* MENTOR CHECKLIST */

/* MENTOR CHECKLIST END */

.mentorChecklist {
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  align-self: stretch;
}

.checklistContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  flex-wrap: wrap;
}

.checklistItem {
  display: flex;
  width: 570px;
  max-width: 600px;
  align-items: center;
  gap: 16px;
}

/* MEET OUR MENTEES */

.meetMentees {
  display: flex;
  padding: 100px 148px;
  flex-direction: column;
  align-items: center;
  background: var(--background-bg-page-body, #fafafa);
  overflow: hidden;
}

.menteeContainer {
  margin: 0 auto;
  margin-top: 56px;
  width: 80vw;
  max-width: 1000px;
  position: relative;
  height: 450px;
  overflow: hidden;
}

.menteeSlide {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 24px;
  transition: 0.3s ease-in-out all;
}

.menteeSlide img {
  width: 397px;
}

.menteeDetails {
  display: flex;
  width: 542px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.menteeText {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: flex-start;
}

.prev,
.next {
  position: absolute;
  top: 200px;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.dotsStyles {
  display: flex;
  justify-content: center;
}

.dotStyles {
  margin: 0 3px;
  cursor: pointer;
  font: 20px;
}

/* MEET OUR MENTEES END */

@media screen and (max-width: 1000px) {
  .heroContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heroInfo {
    align-items: center;
  }

  .textContainer {
    align-items: center;
    max-width: 80%;
  }

  .textContainer h1 {
    font-size: 32px;
    line-height: 36px; /* 112.5% */
    letter-spacing: -0.64px;
    text-align: center;
  }

  .textContainer p {
    font-size: 20px;
    text-align: center;
    line-height: 28px; /* 140% */
  }

  .heroImg {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    background-image: none;
    background-color: #fcf2f0;
  }

  .heroContent {
    padding: 40px 0px;
  }
}
