/* HERO */

.hero {
  background: url(../assets/find-mentor-hero-bg.svg);
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.heroContent {
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.textContainer h1 span {
  color: var(--text-text-brand, #4b4bfa);
  /* 💻 Headings/H1 */
  font-family: Sora;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.64px;
  text-decoration: underline;
}

.heroImg {
  max-width: 100%;
}

/* HERO END */

/* TOP MENTORSHIP CATEGORIES */

.topCategories {
  display: flex;
  padding: 100px 148px;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  align-self: stretch;
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 28px;
  align-self: stretch;
  flex-wrap: wrap;
}

.category {
  display: flex;
  width: 184px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.category p {
  font-weight: 700;
  width: fit-content;
}

/* TOP MENTORSHIP CATEGORIES END */

/* MEET OUR MENTORS */

.meetMentors {
  display: flex;
  padding: 100px 148px;
  flex-direction: column;
  align-items: center;
  background: var(--background-bg-page-body, #fafafa);
  overflow: hidden;
}

.mentorContainer {
  margin: 0 auto;
  margin-top: 56px;
  width: 80vw;
  max-width: 1000px;
  position: relative;
  height: 450px;
  overflow: hidden;
}

.mentorSlide {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 24px;
  transition: 0.3s ease-in-out all;
}

.mentorSlide img {
  width: 397px;
}

.mentorDetails {
  display: flex;
  width: 542px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.mentorText {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: flex-start;
}

.prev,
.next {
  position: absolute;
  top: 200px;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.dotsStyles {
  display: flex;
  justify-content: center;
}

.dotStyles {
  margin: 0 3px;
  cursor: pointer;
  font: 20px;
}

/* MEET OUR MENTORS END */

@media screen and (max-width: 600px) {
  .hero {
    background-image: none;
    background-color: #f0f7fc;
  }

  .heroContent {
    padding: 40px 40px;
  }
}

@media screen and (max-width: 500px) {
  .heroImg {
    display: none;
  }

  .heroContent {
    gap: 16px;
  }
}
