.hero {
  background: url(../assets/find-mentor-hero-bg.svg);
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.heroContent {
  display: flex;
  padding: 100px 148px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.textContainer h1 span {
  color: var(--text-text-brand, #4b4bfa);
  /* 💻 Headings/H1 */
  font-family: Sora;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.64px;
  text-decoration: underline;
}

.imgParent {
  line-height: 0;
}

.heroImg {
  width: 1040px;
}

.topCategories {
  display: flex;
  padding: 100px 148px;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  align-self: stretch;
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 28px;
  align-self: stretch;
  flex-wrap: wrap;
}

.category {
  display: flex;
  width: 184px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.category p {
  font-weight: 700;
  width: fit-content;
}
