.footerContent {
  display: flex;
  padding: var(--height-size-md, 40px);
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.footerIcons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footerIcons a img {
  vertical-align: middle;
}
