/* HERO */

.hero {
  background: url(../assets/landing-hero-bg.svg);
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.heroContent {
  display: flex;
  padding: 100px 0px;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.textContainer h1 {
  align-self: stretch;
  color: #000;
  /* 💻 Headings/H1 */
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 112.5% */
  letter-spacing: -0.64px;
}

.textContainer h1 span {
  color: var(--text-text-brand, #4b4bfa);
  text-decoration: underline;
}

.textContainer p {
  color: var(--text-text-base, #14141a);
  /* 💻 Paragraph/P1 */
  font-family: 'Noto Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.heroImg {
  max-width: 50%;
}

/* HERO END */

/* WHY MENTORUP */

.uspSection {
  display: flex;
  padding: 100px 148px;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  background-color: var(--background-bg-subtle, #fafafa);
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  width: 100vw; /* Ensure the background takes the full viewport width */
}

.uspItems {
  display: flex;
  align-items: center;
  gap: var(--height-size-md, 40px);
}

.uspItem {
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.uspItemText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* WHY MENTORUP END */

/* HOW IT WORKS */

.howItWorks {
  display: flex;
  padding: 100px 148px;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  align-self: stretch;
}

.hiwHeader {
  display: flex;
  width: 292px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.tabs {
  display: flex;
  align-items: flex-start;
  gap: 37px;
  align-self: stretch;
}

.tab {
  color: var(--text-text-base, #14141a);
  font-family: 'Noto Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.tab::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  height: 2px;
  background-color: transparent;
  border-bottom: 2px solid #3636d9;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.tab:hover::after,
.active::after {
  transform: scaleX(1);
}

.tabContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  display: none;
}

.tabContentActive {
  display: flex;
}

.tabSteps {
  display: flex;
  width: 454px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--icon-5, 20px);
}

.tabStep {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.tabStepNumber {
  color: var(--text-text-brand, #4b4bfa);
  font-family: Sora;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 112.5% */
  letter-spacing: -0.64px;
}

.tabStepText {
  color: var(--text-text-base, #14141a);
  font-family: 'Noto Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.tabStepHeading {
  color: var(--text-text-base, #14141a);
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: -0.256px;
}

.tabContent img {
  width: 397px;
}

/* HOW IT WORKS END */

/* USER REVIEWS */

.userReviews {
  display: flex;
  padding: 100px 148px;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  align-self: stretch;
}

.reviewsContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.userReview {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.stars {
  display: flex;
  align-items: center;
  gap: var(--radius-1, 4px);
}

.reviewAuthor {
  display: flex;
  align-items: center;
  gap: 8px;
}

.authorDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.authorName {
  font-family: 'Noto Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: var(--text-text-base, #14141a);
}

.authorProfession {
  font-family: 'Noto Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-style: italic;
  color: var(--text-text-subtle, #676773);
}

.reviewAuthor img {
  width: 40px;
  height: 40px;
}

.dividerLine {
  width: 1px;
  height: 128px;
  background: var(--icon-icon-inactive, #919199);
}

/* USER REVIEWS END */

/* NEWSLETTER */

.newsletter {
  display: flex;
  padding: 100px 0px;
  flex-direction: column;
  align-items: center;
  gap: 49px;
  background: url(../assets/newsletter-bg.svg);
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  width: 100vw; /* Ensure the background takes the full viewport width */
}

.newsletterForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.newsletterForm input {
  width: 352px;
  min-width: 200px;
  max-width: 800px;
}

/* NEWSLETTER END */

@media screen and (max-width: 1200px) {
  .heroContent {
    display: flex;
    padding: 100px 40px;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  .textContainer h1 {
    font-size: 32px;
    line-height: 36px; /* 112.5% */
    letter-spacing: -0.64px;
  }

  .textContainer p {
    color: var(--text-text-base, #14141a);
    /* 💻 Paragraph/P1 */
    font-family: 'Noto Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
  }
}

@media screen and (max-width: 990px) {
  .heroContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textContainer {
    align-items: center;
    max-width: 80%;
  }

  .textContainer h1 {
    text-align: center;
  }

  .textContainer p {
    text-align: center;
  }

  .heroImg {
    display: none;
  }
}
