nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100vw;
  padding: 24px 0;
}

.navContainer {
  display: flex;
  padding: var(--height-size-xs, 24px);
  justify-content: space-between;
  align-items: center;
  background: var(--background-bg-main-container, #fff);
  border-radius: var(--border-radius-radius-sm, 8px);
  margin: 0 16px;
}

.navMain {
  display: flex;
  align-items: center;
  gap: 80px;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: var(--height-size-sm, 32px);
}

.navAction {
  display: flex;
  align-items: center;
  gap: var(--height-size-xs, 24px);
}

.logo {
  vertical-align: middle;
}

.navLink {
  color: var(--text-text-base, #14141a);
  font-family: 'Noto Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.navLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  height: 2px;
  background-color: transparent;
  border-bottom: 2px solid #3636d9;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.navLink:hover::after,
.active::after {
  transform: scaleX(1);
}
