.question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 8px; */
  align-self: stretch;
  padding: 24px 0;
  border-bottom: 1px solid #dedee5;
}

.questionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  cursor: pointer;
}

.questionHeader p {
  font-weight: 700;
}
