.userCarousel {
  display: flex;
  padding: 100px 0px;
  flex-direction: column;
  align-items: center;
  background: var(--background-bg-page-body, #fafafa);
  overflow: hidden;
}

.carouselContainer {
  margin: 0 auto;
  margin-top: 56px;
  width: 80vw;
  max-width: 1000px;
  position: relative;
  height: 450px;
  overflow: hidden;
}

.slide {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 24px;
  transition: 0.3s ease-in-out all;
}

.slide img {
  width: 40%;
}

.details {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.text {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  align-items: flex-start;
}

.text p {
  max-width: 100%;
}

.prev,
.next {
  position: absolute;
  top: 200px;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.dotsStyles {
  display: flex;
  justify-content: center;
}

.dotStyles {
  margin: 0 3px;
  cursor: pointer;
  font: 20px;
}

@media screen and (max-width: 900px) {
  .carouselContainer {
    height: 800px;
  }

  .slide {
    flex-direction: column;
    height: 100%;
  }

  .slide img {
    width: 60%;
  }

  .text {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .slide img {
    width: 300px;
  }
}
